[user]
	email = 72924227+DiscFlyer@users.noreply.github.com
	name = DiscFlyer
[init]
	defaultBranch = main
	
[credential "https://github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
