# For using gh and personal token
# [credential "https://github.com"]
# 	helper =
# 	helper = !$(which gh) auth git-credential
# [credential "https://gist.github.com"]
# 	helper =
# 	helper = !$(which gh) auth git-credential

[diff]
	colorMoved = zebra
[fetch]
	prune = true
[init]
	defaultBranch = main
[pull]
	ff = only

# Store machine specific settings in .gitconfig-local
[include]
	path = ~/.gitconfig-local
