[diff]
	colorMoved = zebra
[fetch]
	prune = true
[init]
	defaultBranch = main
[pull]
	ff = only
[status]
	showStash = true
[user]
	useConfigOnly = true

# Add other global git settings including identity to ~/.gitconfig-local
# as this file is not tracked or stored in the public .dotfiles repo.
# This also allows me to use a different git profile for work if needed.
#
# EXAMPLE:
# [user]
#   name = [redacted]
#   email = [redacted]@users.noreply.github.com

[include]
	path = ~/.gitconfig-local
