/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */


/* import css color definitions for current theme */
@import url("colors/colors.css");


/* Default styles */
* {
    border: none;
    border-radius: 0px;
    font-family: 'Adwaita Sans', sans-serif, 'Symbols Nerd Fonts';
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
    min-height: 0px;
    min-width: 0px;
    padding: 0px;
}
box.module>*,
label.module {
    -gtk-icon-shadow: none;
    background: none;
    box-shadow: none;
    text-shadow: none;
    transition: none;
    border: 2px solid transparent;
    padding: 2px 12px;
}
.topbar box.module>*,
.topbar label.module {
    border-radius: 32px;
}
/* .bottombar box.module>*,
.bottombar label.module {
    border: 2px solid transparent;
} */

/* No margins on the ends of the bar */
.modules-left>widget:first-child>* { margin-left:  0px; }
.modules-right>widget:last-child>* { margin-right: 0px; }

/* Round the ends of each module section */
.bottombar .modules-center>widget:first-child>*,
.bottombar .modules-right>widget:first-child>* {
    border-bottom-left-radius: 32px;
    border-top-left-radius: 32px;
}
.bottombar .modules-left>widget:nth-last-child(2)>*,  /* when #window is the last module, round the next-to-last module */
.bottombar .modules-center>widget:last-child>*,
.bottombar .modules-left>widget:last-child>* {
    border-bottom-right-radius: 32px;
    border-top-right-radius: 32px;
}

window#waybar                { transition-duration: 2s; transition-property: all; }
window#waybar.bottombar      { background-color: alpha(@window, 0.5); }
window#waybar.bottombar.solo { background-color: @window; }
window#waybar.topbar         { background-color: alpha(black, 0.5); color: #e0e0e0; }
window#waybar.topbar.solo    { background-color: black; }
window#waybar.empty #window,
window#waybar.empty          { background-color: transparent; }
window#waybar.hidden         { opacity: 0.2; }

.bottombar #workspaces button                      { background-color: @workspaces; color: @bright; }
.bottombar #workspaces button.focused,
.bottombar #workspaces button.active               { background-color: @focused; color: @light; }
.bottombar #workspaces button.focused:not(:hover),
.bottombar #workspaces button.active:not(:hover)   { border-color: @light; }
.bottombar #workspaces button.empty                { color: @dark; }
.topbar    #workspaces button                      { color: #b0b0b0; }
.topbar    #workspaces button.focused:not(:hover),
.topbar    #workspaces button.active:not(:hover)   { background-color: alpha(white, 0.15); color: white; }
           #workspaces button.urgent               { color: red; }

.bottombar #battery                           { background-color: @battery;  color: @dark;  }
.bottombar #clock.date                        { background-color: @date;     color: @light; }
.bottombar #clock.time                        { background-color: @time;     color: @dark;  }
.bottombar #cpu                               { background-color: @cpu;      color: @dark;  }
.bottombar #custom-alsa                       { background-color: @sound;    color: @dark;  }
.bottombar #custom-launcher                   { background-color: @taskbar;  color: @light; }
.bottombar #custom-media                      { background-color: @media;    color: @dark;  }
.bottombar #custom-menu-power,
.bottombar .children-power                    { background-color: @power;    color: @light; }
.bottombar #custom-menu-info,
.bottombar #custom-menu-language,
.bottombar #custom-menu-network,
.bottombar #custom-menu-system,
.bottombar #custom-menu-volume                { background-color: @taskbar;  color: @light; }
.bottombar #custom-pacman                     { background-color: @updates;  color: @light; }
.bottombar #custom-weather                    { background-color: @weather;  color: @dark;  }
.bottombar #disk                              { background-color: @disk;     color: @dark;  }
.bottombar #idle_inhibitor                    { background-color: @idle;     color: @light; }
.bottombar #language                          { background-color: @language; color: @dark;  }
.bottombar #memory                            { background-color: @memory;   color: @dark;  }
.bottombar #network                           { background-color: @network;  color: @dark;  }
.bottombar #network.speed                     { background-color: @speed;    color: @dark;    min-width: 80px; }
.bottombar #mode                              { background-color: @mode;     color: @light; }
.bottombar #pulseaudio                        { background-color: @sound;    color: @dark;  }
.bottombar #submap                            { background-color: @mode;     color: @light; }
.bottombar #temperature                       { background-color: @temp;     color: @dark;  }
.bottombar #taskbar                           { background-color: @taskbar;                 }
.bottombar #taskbar button                    { padding: 0px 6px; border-radius: 32px;      }
.bottombar #taskbar button.active:not(:hover) { border-color: @light;                       }
.bottombar #tray                              { background-color: @tray; border: 2px solid transparent; }
.bottombar #window                            {                              color: @light; }
.bottombar #wireplumber                       { background-color: @sound;    color: @dark;  }

#custom-menu-power, .children-power           { padding: 0px 18px 0px 12px;                 }
#custom-launcher                              { padding: 0px 18px 0px 12px;                 }
#custom-power                                 { padding: 0px 18px 0px 15px;                 }
#idle_inhibitor                               { padding: 0px 18px 0px 12px;                 }
#tray *                                       { padding: 0px 12px;                          }


/* Hover effect */
.bottombar box.module>*:hover,
.bottombar label.module:hover {
    border-color: @border;
}
.topbar box.module>*:hover,
.topbar label.module:hover {
    background-color: alpha(white, 0.15);
    transition: background-color 0.3s;
}
.bottombar #taskbar button:hover,
.topbar #workspaces button:hover {
    background-color: white;
    color: #1e1e1e;
}


/* Blink effect */
@keyframes blink-warning  {  70%  { color: black; }  to  { background-color: yellow;  color: black; }  }
@keyframes blink-critical {  70%  { color: white; }  to  { background-color: red;     color: white; }  }
@keyframes blink-notify   {  70%  { color: black; }  to  { background-color: white;   color: black; }  }

/* Each module that should blink */
#battery,
#cpu,
#custom-pacman,
#disk,
#idle_inhibitor,
#memory,
#mode,
#pulseaudio,
#submap,
#temperature,
#wireplumber,
#workspaces {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Each critical module */
#battery.critical,
#cpu.critical,
#disk.critical,
#memory.critical,
#temperature.critical {
    color: red;
}

/* Each critical that should blink */
#battery.critical.discharging,
#cpu.critical,
#disk.critical,
#memory.critical,
#mode,
#submap,
#temperature.critical {
    animation-name: blink-critical;
    animation-duration: 0.5s;
}

/* Each warning module*/
#battery.warning,
#bluetooth.disabled,
#cpu.warning,
#custom-pacman,
#disk.warning,
#idle_inhibitor.activated,
#memory.warning,
#network.disconnected,
#pulseaudio.muted:not(.source),
#wireplumber.muted {
    color: yellow;
}

/* Each warning that should blink */
#battery.warning.discharging,
#cpu.warning,
#disk.warning,
#memory.warning {
    animation-name: blink-warning;
    animation-duration: 3s;
}

/* Each module that should flash when activated */
#custom-pacman,
#idle_inhibitor.activated,
#pulseaudio.muted:not(.source),
#wireplumber.muted,
#workspaces button.urgent {
    animation-name: blink-notify;
    animation-duration: 0.5s;
    animation-iteration-count: 10;
}