/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */


/* -----------------------------------------------------------------------------
 * Colors
 * -------------------------------------------------------------------------- */

/* import css definitions for current theme */
@import url("colors.css");

/* -----------------------------------------------------------------------------
 * Animations
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% { color: @bright; }
     to { color: @bright; background-color: @warning; }
}
@keyframes blink-critical {
    70% { color: @bright; }
     to { color: @bright; background-color: @critical; }
}
@keyframes blink {
    to { color: @dark; background-color: @bright; }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles and set bar defaults */
* {
    border: none;
    border-radius: 0px;
    min-height: 0px;
    min-width: 0px;
    margin: 0px;
    padding: 0px;
    /* `otf-font-awesome` is required to be installed for icons */
    /* font-family: Roboto, Helvetica, Arial, sans-serif; */
    /* font-family: "Noto Sans Mono", "FontAwesome 5 Free Solid", "font-logos", sans-serif; */
    font-family: "DroidSansMono Nerd Font", "MesloLGS Nerd Font", "RobotoMono Nerd Font";
    font-size: 10pt;
    /* font-weight: bold; */
}

/* Each module */
#backlight,
#battery,
#bluetooth,
#clock,
#cpu,
#custom-alsa,
#custom-layout,
#custom-media,
#custom-pacman,
#custom-power,
#custom-weather,
#disk,
#idle_inhibitor,
#language,
#memory,
#mode,
#mpd,
#network,
#pulseaudio,
#taskbar,
#temperature,
#tray {
    padding: 0px 10px;
}

#custom-media,
/* #mode, */
/* #network.speed, */
/* #taskbar, */
/* #workspaces, */
#window {
    margin: 0px 10px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0px;
}
/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0px;
}

/* Each module that should blink */
#battery,
#memory,
#mode,
#temperature {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Each critical module */
#battery.critical,
#cpu.critical,
#custom-pacman,
#memory.critical,
#temperature.critical {
    color: @critical;
}

/* Each critical that should blink */
#battery.critical.discharging,
#memory.critical,
#mode,
#temperature.critical {
    animation-name: blink-critical;
    animation-duration: 2s;
}

/* Each warning module*/
#battery.warning,
#bluetooth.disabled,
#cpu.warning,
#idle_inhibitor.activated,
#memory.warning,
#network.disconnected,
#temperature.warning {
    color: @warning;
}

/* Each warning that should blink */
#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
    background-color: @battery;
    color: @dark;
}
#clock.date {
    background-color: @date;
    color: @bright;
    border-radius: 24px 0px 0px 24px;
}
#clock.time {
    background-color: @time;
    color: @dark;
    border-radius: 0px 24px 24px 0px;
}
#cpu {
    background-color: @cpu;
    color: @bright;
}
#disk {
    background-color: @disk;
    color: @bright;
}
#idle_inhibitor {
    background-color: @idle;
    color: @bright;
    padding: 0px 15px 0px 10px;
}
#language {
    background-color: @language;
    color: @dark;
    min-width: 32px;
}
#memory {
    background-color: @memory;
    color: @dark;
}
#mode {
    background-color: @mode;
    color: @bright;
    font-style: italic;
}
#network {
    background-color: @network;
    color: @bright;
}
#network.speed {
    background-color: @speed;
    color: @dark;
    font-size: smaller;
    padding: 0px 5px 0px 10px;
    min-width: 80px;
    /* border-radius: 24px; */
    border-radius: 24px 0px 0px 24px;
    border-right: 1px solid @border;
}
#pulseaudio {
    background-color: @sound;
    color: @bright;
}
#pulseaudio.muted:not(.source) {
    background-color: @critical;
    color: @bright;
}
#taskbar {
    background-color: @taskbar;
    color: @bright;
    border-radius: 0px 24px 24px 0px;
    /* border-radius: 24px; */
    border-left: 1px solid @border;
}
#temperature {
    background-color: @temp;
    color: @dark;
}
#tray {
    background-color: @tray;
    color: @bright;
}
#window {
    color: @bright;
    font-size: smaller;
}
window#waybar {
    background-color: alpha(@window, 0.5);
    transition-property: background-color;
    transition-duration: 2s;
}
window#waybar.solo {
    background-color: @window;
}
window#waybar.empty {
    background-color: transparent;
}
window#waybar.hidden {
    opacity: 0.2;
}
#workspaces button {
    background-color: @workspaces;
    color: @light;
    padding: 0px 10px 0px 5px;
}
/* #workspaces button:last-child {
    border-radius: 0px 24px 24px 0px;
    padding: 0px 10px;
} */
#workspaces button.persistent {
    color: alpha(@bright, 0.2);
}
#workspaces button.focused {
    background-color: @focused;
    color: @bright;
    box-shadow: inset 0px -3px @border;
}
#workspaces button:hover {
    background-color: alpha(@focused, 0.5);
    color: @bright;
}
#workspaces button.urgent {
    color: @critical;
}

/* -----------------------------------------------------------------------------
 * Custom Module styles
 * -------------------------------------------------------------------------- */
#custom-alsa {
    background-color: @sound;
    color: @light;
}
#custom-layout {
    background-color: @language;
    color: @light;
}
#custom-media {
    background-color: @media;
    color: @dark;
    font-size: smaller;
    /* border: 1px solid @border; */
    border-radius: 24;
}
#custom-pacman {
    background-color: @updates;
}
#custom-power {
    background-color: @power;
    color: @bright;
    /* padding: 0px 12px 0px 10px; */
}
#custom-weather {
    background-color: @weather;
    color: @dark;
}

/* -----------------------------------------------------------------------------
 * Arrow Module styles
 * -------------------------------------------------------------------------- */
#custom-arrow-R {font-size:20px; color:@workspaces; background-color:transparent;}
#custom-arrow-L {font-size:20px; color:@network;    background-color:transparent;}
#custom-arrow01 {font-size:20px; color:@temp;       background-color:@network;   }
#custom-arrow02 {font-size:20px; color:@cpu;        background-color:@temp;      }
#custom-arrow03 {font-size:20px; color:@memory;     background-color:@cpu;       }
#custom-arrow04 {font-size:20px; color:@disk;       background-color:@memory;    }
#custom-arrow05 {font-size:20px; color:@language;   background-color:@disk;      }
#custom-arrow06 {font-size:20px; color:@sound;      background-color:@language;  }
#custom-arrow07 {font-size:20px; color:@weather;    background-color:@sound;     }
#custom-arrow08 {font-size:20px; color:@tray;       background-color:@weather;   }
#custom-arrow09 {font-size:20px; color:@date;       background-color:@tray;      }
#custom-arrow10 {font-size:20px; color:@time;       background-color:@date;      }
