
/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */


/* -----------------------------------------------------------------------------
 * Colors
 * -------------------------------------------------------------------------- */

/* import css color definitions for current theme */
@import url("colors.css");


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Default styles */
* {
    border: none;
    border-radius: 0px;
    font-family: monospace;
    font-size: 9pt;
    font-weight: bold;
    min-height: 0px;
    min-width: 0px;
    margin: 0px;
    padding: 0px;
}

/* No margins on the ends of the bar */
.modules-left > widget:first-child > * {
    margin-left: 0px;
}
.modules-right > widget:last-child > * {
    margin-right: 0px;
}

/* Round the ends of each module section */
    /* use the below line when `window` is the last module on the left side to round the prior module */
.modules-left   > widget:nth-last-child(2) > *,
.modules-left   > widget:last-child > *,
.modules-center > widget:last-child > *,
.modules-center #workspaces button:last-child {
    border-radius: 0px 32px 32px 0px;
}
.modules-right  > widget:first-child > *,
.modules-center > widget:first-child > *,
.modules-center #workspaces button:first-child {
    border-radius: 32px 0px 0px 32px;
}
.modules-center #workspaces button:only-child {
    border-radius: 32px;
}

/* -----------------------------------------------------------------------------
 * Common Module styles
 * -------------------------------------------------------------------------- */

#battery {
    background-color: @battery;
    color: @dark;
    padding: 0px 6px;
}
#clock {
    border: 2px solid @border;
    padding: 0px 6px;
}
#clock.date {
    background-color: @date;
    border-right: none;
    color: @light;
    margin-right: 0px;
}
#clock.time {
    background-color: @time;
    border-left: none;
    color: @dark;
    margin-left: 0px;
}
#cpu {
    background-color: @cpu;
    color: @dark;
    padding: 0px 6px;
}
#disk {
    background-color: @disk;
    color: @dark;
    padding: 0px 6px;
}
#idle_inhibitor {
    background-color: @idle;
    color: @light;
    padding: 0px 10px 0px 6px;
}
#language {
    background-color: @language;
    color: @dark;
    padding: 0px 6px;
}
#memory {
    background-color: @memory;
    color: @dark;
    padding: 0px 6px;
}
#mode {
    background-color: @mode;
    border: 2px solid @border;
    color: @light;
    font-style: italic;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 6px;
}
#network {
    background-color: @network;
    color: @dark;
    padding: 0px 6px;
}
#network.speed {
    background-color: @speed;
    color: @dark;
    min-width: 80px;
    padding: 0px 6px;
}
#pulseaudio {
    background-color: @sound;
    color: @dark;
    padding: 0px 6px;
}
#taskbar {
    background-color: @taskbar;
    padding: 0px 6px;
}
#taskbar button {
    background-color: @taskbar;
    border: 2px solid transparent;
    border-radius: 32px;
    padding: 0px 3px;
}
#taskbar button.active {
    border-color: @border;
}
#temperature {
    background-color: @temp;
    color: @dark;
    padding: 0px 6px;
}
#tray {
    background-color: @tray;
    color: @light;
    padding: 0px 6px;
}
window#waybar {
    background-color: alpha(@window, 0.7);
    transition-duration: 2s;
    transition-property: all;
}
window#waybar.solo {
    background-color: @window;
    border-color: @window;
}
window#waybar.empty {
    background-color: transparent;
}
window#waybar.hidden {
    opacity: 0.2;
}
#window {
    color: @bright;
    font-style: italic;
    padding: 0px 6px;
}
#workspaces > * {
    background: none;  /* Remove predefined background color (white) */
    box-shadow: none;  /* Remove predefined box-shadow */
    text-shadow: none; /* Remove predefined text-shadow */
    transition: none;  /* Disable predefined animations */
}
#workspaces button {
    background-color: @workspaces;
    border: 2px solid transparent;
    color: @bright;
    padding: 0px 10px 0px 6px;
}
#workspaces button.empty {
    color: @dark;
}
#workspaces button.focused,
#workspaces button.active {
    background-color: @focused;
    color: @light;
}
#workspaces button:hover {
    border-color: @border;
}
#workspaces button.urgent {
    color: @critical;
}

/* -----------------------------------------------------------------------------
 * Custom Module styles
 * -------------------------------------------------------------------------- */

#custom-alsa {
    background-color: @sound;
    color: @dark;
    padding: 0px 6px;
}
#custom-media {
    background-color: @media;
    color: @dark;
    padding: 0px 6px;
}
#custom-pacman {
    background-color: @updates;
    color: @light;
    padding: 0px 6px;
}
#custom-weather {
    background-color: @weather;
    color: @dark;
    padding: 0px 6px;
}

/* -----------------------------------------------------------------------------
 * Group Module styles
 * -------------------------------------------------------------------------- */

.children-info > *,
#custom-menu-language,
#custom-menu-network,
#custom-menu-system,
#custom-menu-volume {
    background-color: @taskbar;
    border: 2px solid transparent;
    color: @light;
    padding: 0px 6px;
}
.children-power > *,
#custom-menu-power {
    background-color: @power;
    border: 2px solid transparent;
    color: @light;
    padding: 0px 12px 0px 10px;
}
.children-info  > *:hover,
.children-power > *:hover,
#custom-menu-language:hover,
#custom-menu-network:hover,
#custom-menu-power:hover,
#custom-menu-system:hover,
#custom-menu-volume:hover {
    border-color: @border;
}

/* -----------------------------------------------------------------------------
 * Animations and Alerts
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% { color: @dark; }
     to { color: @dark; background-color: @warning; }
}
@keyframes blink-critical {
    70% { color: @light; }
     to { color: @light; background-color: @critical; }
}
@keyframes blink-notify {
    70% { color: @dark; }
     to { color: @dark; background-color: @light; }
}

/* Each module that should blink */
    #battery,
    #cpu,
    #custom-pacman,
    #disk,
    #idle_inhibitor,
    #memory,
    #mode,
    #pulseaudio,
    #temperature {
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

/* Each critical module */
    #battery.critical,
    #cpu.critical,
    #disk.critical,
    #memory.critical,
    #temperature.critical {
        color: @critical;
    }

/* Each critical that should blink */
    #battery.critical.discharging,
    #cpu.critical,
    #disk.critical,
    #memory.critical,
    #mode,
    #temperature.critical {
        animation-name: blink-critical;
        animation-duration: 2s;
    }

/* Each warning module*/
    #battery.warning,
    #bluetooth.disabled,
    #cpu.warning,
    #custom-pacman,
    #disk.warning,
    #idle_inhibitor.activated,
    #memory.warning,
    #network.disconnected,
    #pulseaudio.muted:not(.source) {
        color: @warning;
    }

/* Each warning that should blink */
    #battery.warning.discharging,
    #cpu.warning,
    #disk.warning,
    #memory.warning {
        animation-name: blink-warning;
        animation-duration: 3s;
    }

/* Each module that should flash when activated */
    #custom-pacman,
    #idle_inhibitor.activated,
    #pulseaudio.muted:not(.source) {
        animation-name: blink-notify;
        animation-duration: 0.3s;
        animation-iteration-count: 6;
    }
